

/* Style for the search input field */
.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  display: inline;
  margin-left: 20px;
  border-radius: 5px;;
}

.search-icon {
  position: absolute;
  padding: 10px;
  // background-color: #007bff; /* Adjust the color as needed */
  // border-top-right-radius: 5px;
  // border-bottom-right-radius: 5px;
  cursor: pointer;
  bottom:10px;
}

// /* Change the color of the search icon */
// .search-icon i {
//   color: #fff; /* Adjust the color as needed */
// }






